.cart-step{text-align:center; height:4rem;background:#fff;}
.cart-step ul{display:table;width:100%;margin:0;padding:0;border-collapse:collapse; vertical-align:middle}
.cart-step ul li{display:table-cell; line-height:4rem; position:relative }
.cart-step ul .cur{  border-bottom:1px solid #B69F7B; color:#B69F7B  }

/* 购物车为空 */
