<ion-header>
  <ion-navbar>
    <ion-title>福石德商城</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-home">
  
  <ion-slides>

  <ion-slide *ngFor="let slide of adSlides">
      <img [src]="slide.img_path"/>
    </ion-slide>

</ion-slides>

<div style="background-color:#ddd; margin-top:4px">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</div>
<div class="page-nav">
  <ion-row text-center>
    <ion-col>
      <ion-icon name="list-box" color="primary">
      <div text-center class="icon-text">全部分类</div>
    </ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon name="contact"></ion-icon>
       <div text-center class="icon-text">个人中心</div>
    </ion-col>
    <ion-col><ion-icon name="git-merge" color="danger"></ion-icon>
     <div text-center class="icon-text">分销中心</div>
    </ion-col>
    <ion-col><ion-icon name="cart" color="primary"></ion-icon>
     <div text-center class="icon-text">购物车</div>
    </ion-col>
  </ion-row>
</div>

<div class="section-divider"></div>
<!-- <div class="cat_title">精品推荐</div>
<div class="home-good">
  <ion-row text-center >
    <ion-col *ngFor="let best of bestRecommends">
      <img (click)="gotoGoodDetail()" [src]="best.img_path"/>
      <label text-center [innerHTML]="best.price"></label>
      <label text-center [innerHTML]="best.title"></label>
    </ion-col>
  </ion-row>
</div> -->

<div id="cat" *ngFor="let catTitle of catTitles; let i = index;">
  <div class="section-divider"></div>
  <div class="cat_title">{{catTitle}}</div>
  <div class="home-good">
    <ion-row text-center >
      <ion-col *ngFor="let good of cats[i]">
        <img (click)="gotoDetailPage(good)" [src]="buildWholePath(good.goods_img)"/>
        <p text-center [innerHTML]="good.maket_price"></p>
        <p text-center [innerHTML]="good.name"></p>
      </ion-col>
    </ion-row>
  </div>
</div>
</ion-content>
